@import 'utils/fonts';
@import 'utils/variables';
@import 'base';
@import 'components/profile';
@import 'utils/utils';
@import 'components/header';
@import 'components/post';
@import 'components/aside';
@import 'components/modal';
@import 'components/create';

.category {
    font-family: $Varta;
    font-weight: 200;
    font-size: 48px;
    color: var(--color-white);
    background-color: var(--color-header);
    max-width: 620px;
    border-radius: 20px;
    padding: 12px 25px;
    margin-bottom: 60px;
}

.main {
    padding: 150px 0 100px 150px;
    background-color: var(--color-dark-grey);
    min-height: calc(100vh - 95px);
    position: relative;
    min-height: 100vh
}

.title {
    font-family: $raleway;
    font-weight: 600;
    margin-bottom: 35px;
}