:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #7E7E7E;
    --color-dark-grey: #333333;
    --color-light-green: #2CCF77;
    --color-lemon: #E9FF6F;
    --color-yellow: #F1FABF;
    --color-header: #A2A0F7;
    --color-purple: #5421E3;
    --color-pink: #FF90F4;
    --color-blue: #349CFB;
}