.aside {
    width: 100%;
    max-width: 290px;
    min-height: 100%;
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 2px solid var(--color-grey);
    padding: 130px 30px 35px 30px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        min-height: 600px;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background-color: var(--color-yellow);
        border-radius: 7px;
        font-family: $ubuntu;
        font-size: 32px;
        font-weight: 200;
        transition: .3s;
        cursor: pointer;

        &-img {
            margin-right: 20px;
        }

        &:hover {
            background-color: var(--color-lemon);
            box-shadow: inset -4px -4px var(--color-grey);
            transform: translate(3px, 3px);
        }

        &-profile {
            background-color: var(--color-grey);
            margin-top: auto;
            position: absolute;
            bottom: 0;
            width: 100%;

            &:hover {
                background-color: var(--color-dark-grey);
                color: var(--color-white);
                box-shadow: inset -5px -5px var(--color-dark-grey);
                transform: translate(3px, 3px);
            }
        }

        .modal-open-btn {
            display: flex;
            align-items: center;
            background-color: var(--color-yellow);
            border-radius: 7px;
            font-family: $ubuntu;
            font-size: 32px;
            font-weight: 200;
            transition: .3s;
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: var(--color-lemon);
            }
        }
    }

    &__item+&__item {
        margin-top: 50px;
    }
}