.header {
    background-color: #A2A0F7;
    padding: 12px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    .logo {
        max-width: 65px;
        margin-right: auto;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__item {
        font-size: 24px;
        color: #FFFFFF;
        font-family: $raleway;
        font-weight: 500;
        transition: .5s;
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;

        &:hover {
            border-bottom: 3px solid #EBFF00;
            color: #EBFF00;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        min-width: 800px;
    }

    &__link {
        &-active {
            padding-bottom: 5px;
            border-bottom: 3px solid #EBFF00;
            color: #EBFF00;
        }
    }
}