:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #7E7E7E;
    --color-dark-grey: #333333;
    --color-light-green: #2CCF77;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
    transition: opacity 0.3s, visibility 0.3s;

    &.is-hidden {
        visibility: none;
        pointer-events: none;
        opacity: 0;
    }
}

.modal {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 380px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 30px 35px;
    text-align: center;
    font-family: $inter;
    position: relative;

    &__title {
        font-size: 32px;
        color: var(--color-grey);
        margin-bottom: 30px;
        font-weight: 600;
    }

    &__field {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    &__icon {
        max-width: 14px;
        max-height: 14px;
        fill: var(--color-grey);
    }

    &-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &__link {
        color: var(--color-light-green);
        text-decoration: underline;

        &-text {
            font-size: 16px;
            color: var(--color-black);
            font-family: $inter;
            text-align: right;
            margin-bottom: 40px;
        }
    }

    &__btn {
        width: 100%;
        background-color: var(--color-light-green);
        border: 1px solid var(--color-black);
        border-radius: 4px;
        color: var(--color-white);
        font-weight: 600;
        font-size: 32px;
        padding: 5px 0;
        text-shadow: 1px 1px 2px var(--color-dark-grey);
        transition: transform .3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--color-dark-grey);
    cursor: text;
}