.post {
    width: 520px;
    height: 200px;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: var(--color-white);
    position: relative;
    overflow: auto;
    font-family: $ubuntu;
    cursor: pointer;
    margin-bottom: 100px;

    .profile {
        display: flex;

        img {
            margin-right: 5px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__name {
            font-size: 16px;
            font-family: $raleway;
            font-weight: 600;
        }

        &__email {
            font-size: 14px;
            color: var(--color-grey);
            margin-top: -4px;
        }
    }

    &__title {
        font-size: 20px;
        margin: 6px 0;
    }

    &__text {
        font-size: 12px;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 6px;
        position: absolute;
        top: 10px;
        right: 16px;
        font-family: $raleway;
        font-size: 18px;
        font-weight: 500;
        color: var(--color-purple);
    }

    .topic {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        min-height: 20px;
        font-size: 14px;
        font-family: $raleway;
        font-weight: 500;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 200px;
        border: 1px solid var(--color-grey);
        border-top: none;
        border-left: none;

        &-personal {
            background-color: var(--color-header);
        }

        &-nature {
            background-color: var(--color-light-green);
        }

        &-movies {
            background-color: var(--color-lemon);
        }

        &-books {
            background-color: var(--color-blue);
        }

        &-philosophy {
            background-color: var(--color-yellow);
        }

        &-studiyng {
            background-color: var(--color-pink);
        }
    }

    .comment-btn {
        position: absolute;
        bottom: 10px;
        right: 16px;
        transition: .5s;

        &:hover {
            opacity: .7;
        }
    }

    button {
        transition: .4s;

        &:hover {
            opacity: .7;
        }
    }
}