.back-btn {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    color: var(--color-white);
    padding: 7px 52px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color .3s;
    transform: translate(-40px, -25px);
    display: inline-block;

    &:hover {
        background-color: transparent;
    }
}

.user {
    background-color: var(--color-white);
    max-width: 900px;
    min-height: 500px;
    border-radius: 10px;
    margin-top: 35px;
    padding: 55px 60px;
    margin-left: 70px;

    &__main {
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-bottom: 30px;
    }

    &__img {
        margin-right: 40px;
        border: 1px solid var(--color-grey);
        border-radius: 50%;
    }

    &__list {
        display: flex;
        flex-direction: column;

        li+li {
            margin-top: 12px;
        }
    }

    &__items {
        display: flex;
        gap: 20px;
    }

    &__keys {
        font-family: $Varta;
    }

    &__properties {
        li+li {
            margin-top: 19px;
        }
    }
}